<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホテル検索画面</title>
</head>
<body>
	<h3>ホテル検索</h3>
	<form th:action="@{/hotel/output}" th:object="${hotelSearchForm}" method="post">
		<input type="text" name="price" id="price" th:field="*{price}">円以下<br>
		<button>検索</button>
		<br>
	</form>
	
	<!-- スコープに格納したリストを要素の数だけテーブル内で繰り返す nullでない場合 -->
	<!--  <form th:unless="${hotel.price==null}">   -->
		<table  border="1" th:each="hotel : ${hotelList}">
			<tr align="center">
				<td >ホテル名</td>
				<td><span th:text="${hotel.hotelName}">hotelName_dummy</span></td>
			</tr>
		
			<tr align="center">
				<td>最寄駅</td>
				<td><span th:text="${hotel.nearestStation}">nearest_station_dummy</span></td>
			</tr>
		
			<tr align="center">
				<td>価格</td>
				<td><span th:text="${hotel.price}">price_dummy</span></td>
			</tr>
		</table>
	<!--  </form>   -->
	<br>

</body>
</html>
